@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

:root {
  --border-focus: rgb(166, 166, 166);
  --border-gray: rgb(216, 216, 216);
  --text-gray: rgb(130, 130, 130);
  --input-gray: rgb(163, 162, 162);
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(238, 238, 238);
}

#main-wrapper {
  width: 80vw;
  height: 80vh;
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#cards-wrapper {
  border-radius: 5px;
  overflow-y: scroll;
  margin: 0;
  width: 100%;
  height: calc(100% - 5.6em);
}

#cards-wrapper::-webkit-scrollbar {
  display: none;
}
