@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

:root {
  --border-gray: rgb(216, 216, 216);
  --text-gray: rgb(157, 155, 155);
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

#main-wrapper {
  width: 100%;
  position: relative;
}
