#search {
    width: 100%;
    position: fixed;
    top: 0;
    margin-left: 8px;
    margin-right: 8px;
    background-color: white;
    height: 3em;
    z-index: 1;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */

}


#search-input {
    margin-right: 8px;
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: .9em;
    color: rgb(163, 162, 162);
    outline: none;
    border-bottom: 1.5px var(--border-gray) solid;
    /* color: rgb(223, 218, 218); */
}

#search-input::placeholder {
    color: var(--input-gray);
}
